
include ../button/button.pug

mixin dropdown(config = {})
  - defaultConfig = {label: 'dropdown', placeholder: 'placeholder', name: 'dropdown', items: [{text: 'item1', group: 'item2'}, {text: 'item2'}]};
  - config = Object.assign(defaultConfig, config);
  .dropdown(name = config.name)
    .dropdown__label #{config.label}
    input.dropdown__input(type = 'text', placeholder = config.placeholder, readonly)
    .dropdown__menu.dropdown__menu_hidden
      .dropdown__list
        each item in config.items
          .dropdown__item
            .dropdown__text #{item.text}
            .dropdown__counter-bar
              button.dropdown__button.dropdown__button_disabled(type="button" name="minus" disabled="true") -
              .dropdown__counter(name = item.group ? item.group : item.text) 0
              button.dropdown__button(type="button" name="plus") +
      .dropdown__buttons-bar
        +button('Очистить', 'button', 'clear', ['theme_simple', 'disabled'])
        +button('Применить', 'button', 'apply', ['theme_simple'])


//label = 'dropdown', placeholder = 'placeholder', 
mixin dropdown-menu([labels = [], bt1_name = "", bt2_name = ""])
  each label in labels
    div.form__dropdown-menu-el
      p.form__dropdown-menu-label #{label}
      div.form__dropdown-menu-counter-bar
        button(type="button" class="form__dropdown-menu-button form__dropdown-menu-button_minus form__dropdown-menu-button_disabled" disabled="true") -
        p.form__dropdown-menu-counter 0
        button(type="button" class="form__dropdown-menu-button form__dropdown-menu-button_plus") +

mixin dropdown-with-menu(dropdown_set = [label, name, placeholder, mod = []], menu_set = [], mod = [])
  div.form__dropdown-with-menu(class = mod)
    //label.form__label
    h3 #{dropdown_set[0]}  
    input(type="text", name=dropdown_set[1], placeholder=dropdown_set[2], class="form__dropdown" class = dropdown_set[3], readonly)
    //+dropdown(dropdown_set)
    .form__dropdown-menu
      +dropdown-menu(menu_set)
      .pmu-buttons-bar
        button(type="button" disabled="disabled" class="form__button button-clear button-clear_hide") очистить
        button(type="button" class="button-apply form__button") применить