include ../../components/likeButton/likeButton.pug

mixin feedback(config = {})
  - defaultConfig = {imgsrc: 'undefined', name: 'name', lastEntr: 'recently', text: 'text', likes: 12};
  //- defaultConfig = {feedback: [{}]};
  - config = Object.assign(defaultConfig, config);
  //- for (let i = 0; i < config.feedbacks.length; i++) { 
  //- config.feedbacks[i] = Object.assign(Object.assign({}, defult), config.feedbacks[i]);
  //- }
  .review
      .review__glue
        .review__el
          img(src = require(`${config.imgsrc}`))
        .review__el
          .review__label #{config.name}
          .review__text #{config.lastEntr}
      .review__glue
        .review__el
          +likeButton(config.likes)
        .review__el
          .review__text #{config.text}

mixin review(name = 'Имя Фамилие', lastEntr = '0 дней назад', text = "text", likes = "0", imgSrc = "src")

  .review
    .review__glue
      .review__el
        img(src = imgSrc)
      .review__el
        .review__label #{name}
        .review__text #{lastEntr}
    .review__glue
      .review__el
        +likeButton(likes)
      .review__el
        .review__text #{text}