include ../rating/rating.pug

.catalog

mixin catalog__element(imageSrc = ["./img/image.png", './img/image2.png', './img/image3.png'], number = "000", price = "1 000", rating = 3, rev = 145, isLux = true)
  .catalog__element
    .catalog__swiper.swiper
      .swiper-wrapper
        each img in imageSrc
          .swiper-slide
            img(src=require(`${img}`), alt="")
      .swiper-pagination
      .swiper-button.swiper-button-prev
      .swiper-button.swiper-button-next
    .catalog__elementWrapper
      .catalog__elementGlue
        .catalog__elementText
          span.width_bold.color_black №
          span.width_bold.size_large.color_black &nbsp;#{number}
          if (isLux)
            span.width_bold.color_primary.size_small &nbsp; Люкс
        .catalog__elementText
          span.width_bold #{price}₽
          span.size_small &nbsp;в сутки
      .catalog__elementGlue
        +rating(rating)
        .catalog__elementText
          span.width_bold  #{rev}
          if (rev % 100 > 10 && rev % 100 < 20)
            | &nbsp; Отзывов
          else if (rev % 10 > 1 && rev % 10 < 5)
            | &nbsp; Отзыва
          else if (rev % 10 == 1)
            | &nbsp; Отзыв
          else
            | &nbsp; Отзывов