mixin text-field([label, name, placeholder, mod = []])
  label.form__label
    h3 #{label}
    input(type="text", name=name, placeholder=placeholder, class="form__text-field" class = mod)

mixin dropdown([label, name, placeholder, mod = []])
  label.form__label
    h3 #{label}  
    input(type="text", name=name, placeholder=placeholder, class="form__dropdown" class = mod, readonly)

mixin dropdown-menu([labels = [], bt1_name = "", bt2_name = ""])
  //div.form__dropdown-menu
  each label in labels
    div.form__dropdown-menu-el
      p.form__dropdown-menu-label #{label}
      div.form__dropdown-menu-counter-bar
        button(type="button" class="form__dropdown-menu-button form__dropdown-menu-button_minus form__dropdown-menu-button_disabled" disabled="true") -
        p.form__dropdown-menu-counter 0
        button(type="button" class="form__dropdown-menu-button form__dropdown-menu-button_plus") +

mixin dropdown-with-menu(dropdown_set = [label, name, placeholder, mod = []], menu_set = [], mod = [])
  div.form__dropdown-with-menu(class = mod)
    //label.form__label
    h3 #{dropdown_set[0]}  
    input(type="text", name=dropdown_set[1], placeholder=dropdown_set[2], class="form__dropdown" class = dropdown_set[3], readonly)
    //+dropdown(dropdown_set)
    .form__dropdown-menu
      +dropdown-menu(menu_set)
      .pmu-buttons-bar
        button(type="button" disabled="disabled" class="form__button button-clear button-clear_hide") очистить
        button(type="button" class="button-apply form__button") применить


mixin input-date([label, name, placeholder='ДД.ММ.ГГГГ', mod = []])
  //mod += ["from__date-masked"]
  //mod = mod.push("from__date-masked")
  label.form__label
    h3 #{label}
    input(type="text", name=name, placeholder=placeholder, class="form__date-masked" class = mod)

mixin date-dropdowns([label1, label2, mod=[]])
  div.form__date-dropdowns
    div.form__date-dropdown-glue
      div.form__date-dropdown
        label.form__label(for="for-date") #{label1}
        input(type="text", name=name, placeholder='ДД.ММ.ГГГГ', class="form__dropdown form__dropdown_date form__date-dropdown_begin" class = mod, readonly)
      div.form__date-dropdown
        label.form__label #{label2}
        input(type="text", name=name, placeholder='ДД.ММ.ГГГГ', class="form__dropdown form__dropdown_date form__date-dropdown_end" class = mod, readonly)
    div.pmu-plug

mixin date-dropdown([label, mod=[]])
  div.form__date-dropdowns
    div.form__date-dropdown-glue
      div.form__date-dropdown
        label.form__label(for="for-date") #{label}
        input(type="text", name=name, placeholder='ДД.ММ.ГГГГ', class="form__dropdown form__dropdown_date form__date-dropdown_range" class = mod, readonly)
    div.pmu-plug

mixin subscrTextField([label, mod=[]])
  .form__text-field-div 
    label.form__label #{label}
    .form__text-field-glue
      input(type="email", name=name, placeholder='Email', pattern="[^@\s]+@[^@\s]+\.[^@\s]+", required, class="form__text-field form__text-field_subscr" class = mod)
      button(type="submit", class="form__subscrSubmit")

mixin exCheckboxList([label, cbNames=[]])
  .form__checkbox-list-btn
    button.form__label(type="button") #{label}
    ul.form__checkbox-list.form__checkbox-list_hidden
      each n in cbNames
        li
          label.form__checkbox-list-el
            input.form__checkbox(type="checkbox")
            .form__checkbox-list-label #{n} 
          
mixin checkboxList([label, cbNames=[]])
  .form__checkbox-list
    .form__label(type="button") #{label}
    ul.form__checkbox-list
      each n in cbNames
        li
          label.form__checkbox-list-el
            input.form__checkbox(type="checkbox")
            .form__checkbox-list-label #{n}

mixin richCheckboxList(label = "Rich checkbox list", rcbNames = [["rcbLabel1", "rcbText1"], ["rcbLabel2", "rcbText2"]])
  .form__checkbox-list
    .form__label(type="button") #{label}
    ul.form__checkbox-list
      each n in rcbNames
        li
          label.form__checkbox-list-el
            input.form__checkbox(type="checkbox")
            .form__checkbox-list-label.form__richCheckbox
              .form__richCheckboxLabel #{n[0]}
              .form__richCheckboxText #{n[1]}              
        
mixin radioButtons([label, btlabels = []])
  .form__radioButtonsDiv
    .form__label #{label}
    .form__radioButtons
      each eb in btlabels
        label.form__radioButton
          input(type = "radio" name="radio")
          .form__rblabel #{eb}

mixin toggleButtons([label, btlabels = []])
  .form__toggleButtonsDiv
    .form__label #{label}
    .form__toggleButtons
      each eb in btlabels
        label.form__toggleButton
          input.form__checkbox(type = "checkbox")
          .form__tblabel #{eb}

mixin slider(label = "")
  .form__slider
    .form__sliderBar
      .form__label #{label}
      .form__sliderRange
    .form__sliderDiv
