mixin text-field([label, name, placeholder, mod = []])
  label.form__label
    h3 #{label}
    input(type="text", name=name, placeholder=placeholder, class="form__text-field" class = mod)

mixin dropdown([label, name, placeholder, mod = []])
  label.form__label
    h3 #{label}  
    input(type="text", name=name, placeholder=placeholder, class="form__dropdown" class = mod, readonly)

mixin dropdown-menu([labels = [], bt1_name = "", bt2_name = ""])
  //div.form__dropdown-menu
  each label in labels
    div.form__dropdown-menu-el
      p.form__dropdown-menu-label #{label}
      div.form__dropdown-menu-counter-bar
        button(type="button" class="form__dropdown-menu-button form__dropdown-menu-button_minus form__dropdown-menu-button_disabled" disabled="true") -
        p.form__dropdown-menu-counter 0
        button(type="button" class="form__dropdown-menu-button form__dropdown-menu-button_plus") +

mixin dropdown-with-menu(dropdown_set = [label, name, placeholder, mod = []], menu_set = [])
  div.form__dropdown-with-menu
    //label.form__label
    h3 #{dropdown_set[0]}  
    input(type="text", name=dropdown_set[1], placeholder=dropdown_set[2], class="form__dropdown" class = dropdown_set[3], readonly)
    //+dropdown(dropdown_set)
    .form__dropdown-menu
      +dropdown-menu(menu_set)
      .pmu-buttons-bar
        button(type="button" disabled="disabled" class="button button-clear button-clear_hide") очистить
        button(type="button" class="button-apply button") применить


mixin input-date([label, name, placeholder='ДД.ММ.ГГГГ', mod = []])
  //mod += ["from__date-masked"]
  //mod = mod.push("from__date-masked")
  label.form__label
    h3 #{label}
    input(type="text", name=name, placeholder=placeholder, class="form__date-masked" class = mod)

mixin date-dropdowns([label1, label2, mod=[]])
  //div.form__date-dropdown
    div.form__date-dropdown-label
      p #{label1}
      p #{label2}
  div.form__date-dropdowns
    div.form__date-dropdown-glue
      div.form__date-dropdown
        label.form__label(for="for-date") #{label1}
        input(type="text", name=name, placeholder='ДД.ММ.ГГГГ', class="form__dropdown form__dropdown_date form__date-dropdown_begin" class = mod, readonly)
      div.form__date-dropdown
        label.form__label #{label2}
        input(type="text", name=name, placeholder='ДД.ММ.ГГГГ', class="form__dropdown form__dropdown_date form__date-dropdown_end" class = mod, readonly)
    div.pmu-plug

mixin date-dropdown([label1, mod=[]])
  div.form__date-dropdown-glue
    input(type="text", name=name, placeholder='ДД.ММ.ГГГГ', class="form__dropdown form__dropdown_date-dropdown form__dropdown_date-dropdown_begin-end" class = mod, readonly)

